<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="collect.jhjz.com.mine">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".MineActivity">

        </activity>
    </application>

</manifest>